<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to '一覧', articles_path %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "マイページ", mypage_path(id: current_user.id), class: "nav-link active" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
